*
{
  margin: 0;
  padding: 0;
}
/*--------Navigation--------*/
#nav-bar{

  position: sticky;
  top: 0;
  z-index: 10;

}

.navbar-nav li
{
  padding: o 10px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
